// @Author: francesco
// @Date:   2020-06-14T22:25:56+02:00
// @Last modified by:   francesco
// @Last modified time: 2020-06-14T23:58:16+02:00

$bodyFont: 'Inter';
$scriptFont: 'DM Mono';

$bgColor: #000000;
$boxColor: #1A1A1A;
$hrColor: #000000;
$fieldsColor: #262626;
$fieldsBorderColor: #666666;

$textColor: white;
$textInactiveColor: #4D4D4D;
$textAccent: #FFD426;
